body {
    font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
    max-width: 960px;
    margin: 0 auto;
}

/* ---header--- */
.nav li {
    display: inline; 
}

.nav a {
    display: inline-block;
    padding: 5px 15px 5px 20px;
    font-size: 16px;
    line-height: 1.2em;
    text-decoration: none;
    background-repeat: no-repeat;
}

.iconRubiksCube{
    background-image: url(img/rubiksCube.svg);
    background-position: left top;
}

.tasksJS .iconRubiksCube{
    background-position: left bottom;
}

/* ------------------------------ */

.contents {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #c4c4c4;
}

/* ---tasksJS--- */
pre {
    border-bottom: 5px double #696969;
}

.button-solution {
    display: block;
    margin: .5em 0 0 0;
    outline: none;
    font-weight: bold;
    background: #f5f2f0;
    border-bottom: none;
} 

.solution-hide {
    display: none;
}

.solution_button {
    text-align: center;
}
/* ------------------------------ */

/* 
nav a:link {
    color: black;
}
nav a:visited {
    color: black;
}
nav a:hover {
    color: red;
}
nav a:active {
    color: red;
}

h1 {
    text-align: center;
}

h2 {
    margin-block-start: 1em;
    margin-block-end: 0.2em;
}

p {
    margin: auto;
}

 */