html {
    max-width: 928px;
    margin: 0 auto;
}

nav ul li{    
    display: inline-block;   
}

nav a:link {
    color: black;
}
nav a:visited {
    color: black;
}
nav a:hover {
    color: red;
}
nav a:active {
    color: red;
}

h1 {
    text-align: center;
}

h2 {
    margin-block-start: 1em;
    margin-block-end: 0.2em;
}

p {
    margin: auto;
}

pre {
    border-bottom: 5px double #696969;
}

.solution-hide {
    display: none;
}

/* .solution_button {

} */

.contents {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #c4c4c4;
}