* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}

.nav, .wrap, .footer{
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    line-height: 1.2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.17em;
    line-height: 1.2em;
    margin: 0.83em 0;
}

p {
    margin: 1em 0;
}

.contents {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #f3cc5a;
}

.contents:nth-child(even) {
    border-left: 10px solid #1c9675;
}

/* ---header--- */
header{
    height: 50px;

}

.nav li {
    float: left;
    width: 10%;
    min-width: 100px;

}

.nav a {
    display: block;
    height: 50px;
    padding: 13px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    color: #5D5D5D;
}

.main .iconHome,
.tasksJS .iconRubiksCube,
.aboutMe .iconSmile,
.nav a:hover {
    border-bottom: 5px solid black;
    color: black;
}

.main .wrap,
.tasksJS .wrap,
.aboutMe .wrap {
    clear: both;
}
/* ------------------------------ */
/* ---main--- */
.sidebar1 {
    float: left;
    width: 20%;
    overflow: hidden;
}
.mainSection {
    float: left;
    width: 60%;
    padding: 0 10px;
}

.sidebar2 {
    float: right;
    width: 20%;
}

footer {
    clear: both;
}

.endSection {
    border-bottom: 2px solid #1c9675;
}

.adCat:hover {
    background-image: url("img/cat.svg");
    background-repeat: no-repeat;
}

.adBear:hover {
    background-image: url("img/bear.svg");
    background-repeat: no-repeat;
}

.books ul {
    text-align: center;
}

.books li {
    display: inline-block;
    width: 160px;
    text-align: center;
    vertical-align: top;
}

.books figure {
    vertical-align: top;
}

.books img {
    width: 150px;
    border: 1px solid #666;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

figcaption {
    font: 0.87em Arial, Helvetica, sans-serif;
}
/* ------------------------------ */
/* ---tasksJS--- */
.TOC {
    display: inline-block;
    padding: 5px;
    border: 1px solid #3b3b3b ;
    border-radius: 5px;
    background-color: #f2f3f4;
}
.TOC .contents {
    margin-bottom: 5px;
}
.TOC a {
    text-decoration: none;
    color: black;
}
.TOC a:hover,
.TOC a:active {
    color: #F21634;
}

hr {
    border: 0;
    border-bottom: 5px double #666;
}

.button-solution {
    display: block;
    margin: .5em 0 0 0;
    outline: none;
    font-weight: bold;
    background-color: #f2f3f4;
    border-bottom: none;
}

.solution-hide {
    display: none;
}

.button-play {
    outline: none;
    font-weight: bold;
    background-color: #f2f3f4;
}
/* ------------------------------ */
/* ---aboutMe--- */
.mainBox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.box1,
.box2,
.box3 {
    flex: 1;
    margin: 30px;
}

.myName {
    padding: 10px 20px;
    position: relative;
}

.myName::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url("img/conerLeft.svg");
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
}

.myName::after {
    content: "";
    background-repeat: no-repeat;
    background-image: url("img/conerLeft.svg");
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 26px;
    height: 26px;
}

.box1 {
    text-align: right;
}

.box2 {
    text-align: center;
}

.box2 img{
    display: block;
    margin:auto;
}

.aboutMe .wrap ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.aboutMe .wrap li {
    flex: 1 1 135px;
    border: 1px solid #3b3b3b ;
    border-radius: 5px;
    background-color: #336b87;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.aboutMe .wrap a {
    text-decoration: none;
    color: white;
    text-align: center;
}
.aboutMe .wrap a:hover,
.aboutMe .wrap a:active {
    color: black;
}
.aboutMe .container a {
    color: black;
}

.im img {
    display: block;
    margin-left: auto;
    width: 150px;
    background-color: #FFF;
    border-radius: 750px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.5);
}

.hidden {
    display: none;
}

.button-visibility {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    height:30px;
    width:30px;
    border-radius: 50%;
    background-image: url('img/right-arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.button-visibility:active, .button-visibility:focus {
    outline: none ;
}

.overlay img {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.overlay {
    display: none;
}

.overlay:target {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.8);
}

.aboutMe footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.aboutMe {
    background-image: url("img/spb1971eng2.png");
    background-position: 50% -300px;
}
/* ------------------------------ */
/* ---footer--- */
footer {
    height: 90px;
    background-color: #336b87;
    text-align: right;
    padding: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.8;
}

.footer-email:focus,
.footer-email:hover,
.footer-phonel:focus,
.footer-phone:hover {
    opacity: 1;
    border-bottom: 1px solid #ffffff;
}

.footer-vk:focus,
.footer-vk:hover,
.footer-facebook:focus,
.footer-facebook:hover {
    opacity: 1;
}

.footer-facebook {
    margin-right: 20px;
    padding: 3px 0 3px 20px ;
    background-image: url("img/icon-facebook-footer.svg");
}

.footer-vk {
    margin-right: 20px;
    padding: 3px 0 3px 30px ;
    background-image: url("img/icon-vk-footer.svg");
}

.footer-email {
    margin-right: 20px;
    padding: 3px 0 3px 30px ;
    background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
    margin-right: 15px;
    padding: 3px 0 3px 25px;
    background-image: url("img/icon-phone-footer.svg");
}
/* ------------------------------ */
