
* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    background-color: #f8f4f0;
}

.nav, .wrap, .footer{
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0.33em;
}
h2 {
    font-size: 1.17em;
    margin: 0.83em 0.33em;
}

p {
    margin: 1em 0;
}

.contents {
    list-style: none;
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #0E64D0;
}

.contents:nth-child(even) {
    border-left: 10px solid #2e8b57;
}

/* ---header--- */
header{
    height: 90px;
    background-color: #bfbfbf;
}

.nav li {
    float: left;
    width: 10%;
    min-width: 90px;
}

.nav a {
    display: block;
    height: 90px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    background-repeat: no-repeat;
    background-color: #bfbfbf;
    background-position: center 30px;
}

.main .iconHome,
.tasksJS .iconRubiksCube,
.aboutMe .iconSmile,
.nav a:hover {
    background-position: center -70px;
    background-color: #403F38;
    color: white;
}

.iconHome {
    background-image: url("img/home-v1.svg");
}
.iconRubiksCube {
    background-image: url("img/rubiksCube-v1.svg");
}
.iconSmile {
    background-image: url("img/smile-v1.svg");
}
/* ------------------------------ */
/* ---main--- */
.sidebar1 {
    float: left;
    width: 20%;
    overflow: hidden;
}
.mainSection {
    float: left;
    width: 60%;
    padding: 0 10px;
}

.sidebar2 {
    float: right;
    width: 20%;
}

footer {
    clear: both;
}

.endSection {
    border-bottom: 2px solid #2f4f4f;
}

.adCat:hover {
    background-image: url("img/cat.svg");
    background-repeat: no-repeat;
}

.adBear:hover {
    background-image: url("img/bear.svg");
    background-repeat: no-repeat;
}

.books ul {
    text-align: center;
}

.books li {
    display: inline-block;
    width: 160px;
    text-align: center;
    vertical-align: top;
}

.books figure {
    vertical-align: top;
}

.books img {
    width: 150px;
    border: 1px solid #666;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

figcaption {
    font: 0.87em Arial, Helvetica, sans-serif;
}
/* ------------------------------ */
/* ---tasksJS--- */
.TOC {
    display: inline-block;
    padding: 5px;
    border: 1px solid #403F38 ;
    border-radius: 5px;
    background-color: #f2f3f4;
}
.TOC .contents {
    margin-bottom: 5px;
}
.TOC a {
    text-decoration: none;
    color: black;
}
.TOC a:hover,
.TOC a:active {
    color: #F21634;
}

hr {
    border: 0;
    border-bottom: 5px double #696969;
}

.button-solution {
    display: block;
    margin: .5em 0 0 0;
    outline: none;
    font-weight: bold;
    background-color: #f2f3f4;
    border-bottom: none;
}

.solution-hide {
    display: none;
}

.button-play {
    outline: none;
    font-weight: bold;
    background-color: #f2f3f4;
}
/* ------------------------------ */
/* ---aboutMe--- */
.aboutMe p,
.aboutMe h1,
.aboutMe h2 {
        margin: 20px 10px;
}

.aboutMe .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.aboutMe .education {
    display: flex;
    flex-flow: row wrap;
}

.aboutMe h1 {
    display: flex;
    width: 100%;
    font-size: 2.5em;
    align-items: center;
}

.aboutMe h1::before, .aboutMe h1::after {
    flex-grow: 1;
    content: "";
    border-bottom: 4px double black;
}

.education p:nth-child(2) {
    display: flex;
    flex: 2 1;
    flex-flow: row wrap;
}
.education p:nth-of-type(n+2) {
    display: flex;
    flex: 1 1;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe h2 {
    font-size: 2em;
}
/* ------------------------------ */
/* ---footer--- */
footer {
    height: 90px;
    background-color: #403F38;
    text-align: right;
    padding: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.8;
}

.footer-email:focus,
.footer-email:hover,
.footer-phonel:focus,
.footer-phone:hover {
    opacity: 1;
    border-bottom: 1px solid #ffffff;
}

.footer-vk:focus,
.footer-vk:hover,
.footer-facebook:focus,
.footer-facebook:hover {
    opacity: 1;
}

.footer-facebook {
    margin-right: 20px;
    padding: 3px 0 3px 20px ;
    background-image: url("img/icon-facebook-footer.svg");
}

.footer-vk {
    margin-right: 20px;
    padding: 3px 0 3px 30px ;
    background-image: url("img/icon-vk-footer.svg");
}

.footer-email {
    margin-right: 20px;
    padding: 3px 0 3px 30px ;
    background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
    margin-right: 15px;
    padding: 3px 0 3px 25px;
    background-image: url("img/icon-phone-footer.svg");
}
/* ------------------------------ */
